<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tfl.barcode_reader">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <application>
        <activity android:name="com.tfl.barcode_reader.BarcodeReaderActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
    </application>

</manifest>